html, body {
  background-color: rgb(38, 61, 96);
  color: white;
}

a {
  color: white;
}

.title1 {
  font-family: fantasy;
}

#menu {

  height: 50px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(38, 61, 96);
  display: flex;
  display: inline-block;
}


/*STYLES FOR HOME */
  #homeContainer, #createItinContainer {
    text-align: center;
    margin: auto;
    background-color: rgb(38, 61, 96);
  }

  /*END OF STYLES FOR HOME*/

.feed {
  height: 800px;
  width: 95%;
  margin: 0 auto;
  list-style-type: none;
  overflow: scroll;
  position: relative;
}

.feed-item {
  height: 305px;
  width: 95%;
  margin-bottom: 10px;
  border: 1px solid black;
}

.stops {

  margin-left: 2px;
  margin-bottom: 4px;
  height: 125px;
  width: 125px;
  border: 1px solid black;
  display: inline-block;
  overflow: scroll;
}

.itinCreator{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  
}

.addStop{
  width:
}


.description{
  height:100px;
  width: 200px;
}

p {
  position: relative;
  margin-top: 0;
}

button {
  background: none;
  border: 1px solid white;
  color: white;
}
