html, body {
  background-color: rgb(204, 204, 204);
}

a {
  color: black;
}


#menu {

  height: 50px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  display: inline-block;
}


/*STYLES FOR HOME */
  #homeContainer {
    text-align: center;
    margin: auto;
    background-color: yellow;
  }
    
  /*END OF STYLES FOR HOME*/

.feed {
  height: 800px;
  width: 95%;
  margin: 0 auto;
  list-style-type: none;
  overflow: scroll;
  position: relative;
}

.feed-item {
  height: 300px;
  width: 95%;
  margin-bottom: 10px;
  border: 1px solid black;
}

.stops {

  margin-left: 2px;
  margin-bottom: 4px;
  height: 125px;
  width: 125px;
  border: 1px solid black;
  display: inline-block;
}

p {
  overflow: scroll;
  position: relative;
}

