<h1>Local Feed</h1>

<ul class="feed">
  <li>
    <div class="feed-item" ng-repeat='numbers in currentItin'>
      <h1>{{title}}</h1>
      <h2>{{zip}}</h2>
      <h3>{{author}}</h3>

        <!-- HARDCODED DIVS... populate somehow -->
          <div class="stops">
            <p>{{name}} <br>
            {{location}} <br>
            {{description}}</p>
          </div>
          <div class="stops">
            <p>{{name}} <br>
            {{location}} <br>
            {{description}}</p>
          </div>
          <div class="stops">
            <p>{{name}} <br>
            {{location}} <br>
            {{description}}</p>
          </div>
          <div class="stops">
            <p>{{name}} <br>
            {{location}} <br>
            {{description}}</p>
          </div>

    </div>
  </li>
</ul>
